
  .searchleft{
    padding:30px 0 0 200px;
    background-color:#ffffff;
    height: 90px;
    
  }
  
  .logo{
    display: block;
    margin-left: 22px;
    padding-top: 58px;
    width: 142px;
    height: 0;
    overflow: hidden;
    /* text-indent: -9999px; */
    background: url(//img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png) 0 0 no-repeat;
    /* position: absolute; */
  }