.searchRight{
    // background-color:pink;
    height: 100px;
    position: relative;
}

.tu{
    // background-color:red;
    position: absolute;
    display: block;
    width: 120px;
    height: 120px;
    background-image: url(https://gw.alicdn.com/tfs/TB1jQxIuVY7gK0jSZKzXXaikpXa-120-120.png);
    left: -40px;
    top:10px;
    background-repeat:no-repeat
}